<div class="container mt-5" style="max-width: 450px;">
  <h2 class="mb-4 text-center">Register</h2>

  <form (submit)="onSubmit(); $event.preventDefault()">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input
        type="text"
        id="name"
        [(ngModel)]="name"
        name="name"
        required
        class="form-control"
        placeholder="Enter your full name"
      />
    </div>

    <div class="mb-3">
      <label for="phone" class="form-label">Phone</label>
      <input
        type="text"
        id="phone"
        [(ngModel)]="phone"
        name="phone"
        required
        class="form-control"
        placeholder="Enter your phone number"
      />
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        id="email"
        [(ngModel)]="email"
        name="email"
        required
        class="form-control"
        placeholder="Enter your email address"
      />
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        id="password"
        [(ngModel)]="password"
        name="password"
        required
        class="form-control"
        placeholder="Create a password"
      />
    </div>

    <button type="submit" class="btn btn-primary w-100">Register</button>
    <button class="btn btn-secondary w-100 me-2 my-2" (click)="gotoLogin()" >
      Login
    </button>
  </form>

  <div *ngIf="message" class="alert alert-success mt-3 text-center">
    {{ message }}
  </div>
  <div *ngIf="error" class="alert alert-danger mt-3 text-center">
    {{ error }}
  </div>
</div>
